@import url("https://fonts.googleapis.com/css2?family=Anton&family=Raleway:wght@300;400;500;600;700;900&display=swap");
:root {
  --primary-bg: hsl(195 35% 90%);
  --text-primary: hsl(45 65% 15%);
  --text-hover: hsl(45 40% 50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Raleway";
  height: 100vh;
  background: var(--primary-bg);
  overflow: hidden;
}
/* Header + brand + nav */
header {
  position: fixed;
  inset: 0 0 auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 7rem;
}
.brand-wrapper {
  display: flex;
  align-items: center;
}
.border {
  border: 8px solid var(--text-primary);
  margin-bottom: 8px;
  padding: 0.8rem 1rem;
  overflow: hidden;
}
h1.brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.75rem;
  font-weight: 900;
  color: var(--text-primary);
}
.logo-img {
  width: 140px;
  align-self: flex-end;
  margin-left: -20px;
}
h1.brand > span {
  font-size: 2.5rem;
  margin: 0 5px;
}
.menu-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.menu-item {
  padding: 0 0.8em;
}
.menu-item.dropdown span,
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-primary);
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  transition: color 0.15s linear;
}
.menu-item.dropdown span:hover,
.nav-link:hover {
  color: var(--text-hover);
}
/* Dropdown */
.menu-item.dropdown {
  position: relative;
  cursor: pointer;
}
.dropdown-action i.fa-chevron-down {
  position: absolute;
  top: 100%;
  left: 44%;
  animation: pulse 1s 0.5s cubic-bezier(0.97, 0.71, 0.77, 1.07) infinite;
}
.dropdown-action i.fa-chevron-up {
  position: absolute;
  top: 0;
  left: 44%;
  opacity: 0;
  animation: pulse 1s 0.5s cubic-bezier(0.97, 0.71, 0.77, 1.07) infinite;
}
@keyframes pulse {
  0%,
  100% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(15%);
  }
}
ul.dropdown-menu {
  position: absolute;
  list-style: none;
  top: 135%;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top center;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.dropdown-menu.show {
  opacity: 1;
  transform: rotateX(0deg);
}
li.dropdown-item {
  padding: 0.5rem 0 0.2rem;
  border-bottom: 1px solid var(--text-primary);
}
a.dropdown-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text-primary);
  transition: color 0.1s linear;
}
a.dropdown-link:hover {
  color: var(--text-hover);
}
/* Text section */
#about {
  --border-radius-duration: 0.8s;
  --font-size-duration: 0.5s;
  --opacity-duration: 0.4s;
  --transform-duration: 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid var(--text-primary);
  border-radius: 100%;
  padding: 1.5rem 1.2rem;
  z-index: 200;
  transition: border-radius var(--border-radius-duration) ease-out,
    border-width 0.1s var(--border-radius-duration) ease-in-out;
}
#about.reveal {
  border-radius: 0;
  border-width: 1px;
}
#about.reveal .btn-reveal {
  opacity: 0;
  visibility: hidden;
}
#about.reveal .text-wrapper {
  font-size: 1rem;
}
#about.reveal .text-wrapper > h3 {
  opacity: 1;
  transform: translateX(0);
}
#about.reveal .text-wrapper > p {
  opacity: 1;
  transform: translateY(0);
}
.btn-reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  display: inline-block;
  line-height: 1.3;
  font-family: "Anton";
  color: var(--text-primary);
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: opacity 0.1s linear, visibility 0.05s 0.1s linear,
    transform 0.1s 0.1s linear;
}
.btn-reveal:hover {
  opacity: 0.7;
}
.text-wrapper {
  font-size: 0;
  white-space: wrap;
  transition: font-size var(--font-size-duration) var(--border-radius-duration)
    linear;
}
.text-wrapper > h3,
.text-wrapper > p {
  /* Shared properties */
  opacity: 0;
  transition: transform var(--transform-duration) var(--reveal-delay)
      ease-in-out,
    opacity var(--opacity-duration) var(--reveal-delay) ease-in-out;
}
.text-wrapper > h3 {
  --reveal-delay: calc(
    var(--border-radius-duration) + var(--font-size-duration)
  );
  transform: translateX(-25%);
}
.text-wrapper > p {
  --reveal-delay: calc(
    var(--border-radius-duration) + var(--font-size-duration) +var(--transform-duration)
  );
  line-height: 1.5;
  font-weight: 400;
  transform: translateY(25%);
}
.text-wrapper > h3 {
  text-transform: uppercase;
  margin-bottom: 0.8em;
}
/* Social links */
#social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
.social-link {
  text-decoration: none;
  color: var(--text-primary);
  margin-bottom: 10px;
  font-size: 1.5rem;
  transition: color 0.15s ease-in-out;
}
.social-link:hover {
  color: var(--text-hover);
}
/* Image section */
.image-wrapper {
  position: relative;
  width: 80%;
  inset: auto auto -72% 5%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.image-group {
  position: relative;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.image-wrapper .box {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-bg);
  z-index: 5;
}
.item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-group:nth-child(2) .item-img {
  width: 80%;
  height: 80%;
}
.image-group:nth-child(3) .item-img {
  margin-top: 3rem;
}
/* Explore */
.explore {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
}
.explore > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg) translateY(2%);
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 0.85rem;
  font-family: Arial;
}
/* Media queries */
@media (max-width: 1190px) {
  header {
    flex-direction: column;
  }
  .brand-wrapper {
    padding-left: 50px;
  }
  nav {
    padding-right: 50px;
  }
  #about {
    left: 47%;
  }
  .explore {
    width: 800px;
  }
  .image-wrapper {
    bottom: -76%;
  }
  .image-group {
    width: 160px;
    height: 160px;
  }
}
@media (max-width: 968px) {
  .explore {
    width: 680px;
  }
  .image-wrapper {
    bottom: -78%;
  }
  .image-group {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 826px) {
  .explore {
    width: 560px;
  }
  .image-wrapper {
    bottom: -81%;
  }
  .image-group {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
  h1.brand {
    font-size: 2.25rem;
  }
  .logo-img {
    width: 100px;
    margin-left: -10px;
  }
  nav {
    padding-right: 40px;
  }
  #about {
    top: 53%;
  }
  .text-wrapper > p {
    line-height: 1.8;
  }
  .explore {
    width: 428px;
  }
  .image-wrapper {
    bottom: -84%;
  }
  .image-group {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 528px) {
  html {
    font-size: 13px;
  }
  .explore {
    width: 350px;
  }
  .image-wrapper {
    bottom: -86%;
  }
  .image-group {
    width: 75px;
    height: 75px;
  }
}
